@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
  position: relative; /* Reset stacking context for the whole page */
    overflow: visible;
}
body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    background-color: #eae4d3;

}


.nav-heading {
    height: 100px;
    /*background: linear-gradient(135deg, #d2b48c, #a48d74);*/
    background-color: transparent;
    font-family: 'Merienda', sarif;
    width: 100% !important;
    transition: background-color 0.4s ease, color 0.4s ease;
    /*box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);*/
    position: fixed;
    overflow: visible;
    z-index: 3;
    color: antiquewhite;
}

.nav-heading.transparent {
  background-color: transparent;
}

.nav-heading.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: -40px;
  padding-top: 40px;
}

.navbar-custom {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    padding-right: 8%;
}

.navbar-custom p {
    font-size: 30px;
}

.navbar-toggler {
    background-color: transparent;
    background-image: 
        linear-gradient(antiquewhite, antiquewhite), 
        linear-gradient(antiquewhite, antiquewhite), 
        linear-gradient(antiquewhite, antiquewhite);
    background-repeat: no-repeat;
    background-size: 25px 3px, 25px 3px, 25px 3px;
    background-position: 0 6px, 0 13px, 0 20px;
}



.navbar-button {
  padding-top: 10px;
    padding-left: 20px;
    position: relative;
}

#navToggle {
  position: relative; /* Fixed positioning ensures it's above all other elements */
  left: 20px; /* Adjust to align with your design */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


.side-nav {
  z-index: 999;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: width 0.6s ease; /* Smooth width transition */
  padding-top: 60px;
  pointer-events: none; 
  color: white;
  text-align: right;
}

.side-nav.active {
  width: 250px;
  pointer-events: auto;
}

  .side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.6s;
  }
  
  .side-nav a:hover {
    background-color: #575757;
    color: #fff;
  }
  
  /* Active State for Side Nav */
  

  .nav-list {
    margin-top: 150px;
  }

.close-button {
  justify-content: flex-start;
  padding-left: 40px;
  margin-top: -20px;
}

.closeToggle{
  background-color: transparent;
    background-image: 
        linear-gradient(white, white), 
        linear-gradient(white, white), 
        linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 25px 3px, 25px 3px, 25px 3px;
    background-position: 0 6px, 0 13px, 0 20px;
    border: 0 !important;
    padding-bottom: 20px;
}

  .hero {
    min-height: 700px;
    width: 100%;
    background-image: 
    linear-gradient(to bottom, rgba(210, 180, 140, 0.7), rgba(164, 141, 116, 0.7)), 
    url('./assets/images/restaurant-hero.jpg');
    background-blend-mode:soft-light;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
  }

  .menu {
    font-size: 24px;
    color:white;
    height: 40px;
    width: 60%;
    border: 1px solid beige;
    background-color: rgb(54,69,79,0.2);
    border-radius: 2px;
    margin-left: 10px;
    padding-bottom: 2px;
    justify-content: center;
  }
  
  .menu:hover {
    background-color: rgb(240, 240, 240, 0.3);
    text-decoration: none;
    color: white;
  }

  .menu-row {
    margin-top: 150px;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
  }

  .intro h1 {
    font-family: 'Merienda', sarif;
    font-size: 50px;
    margin-top: 250px;
    color: antiquewhite;
  }

  .intro p {
    font-family: 'Merienda', sarif;
    font-size: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }


  /*IMAGE SECTION*/
  .container {
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
  }
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper .image-list .image-item {
    width: 400px;
    height: 520px;
    object-fit: cover;
  }
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px; }

  

    /*MICHELIN SECTION*/
    .michelin {
      min-height: 500px;
      width: 100%;
      background-image: 
    linear-gradient(to bottom, rgba(139, 69, 19, 0.4), rgba(92, 64, 51, 0.4)), 
    url('./assets/images/restaurantwide.jpg');
      background-blend-mode:darken;
      background-size:cover; 
      background-repeat: no-repeat;
      background-position: bottom;
      position: relative;
      margin-bottom: 100px;
      margin-top: 100px;
    }

    .quote {
      padding-top: 40px;
      padding-left: 40px;
    }

    .michelin p {
      font-size: 20px;
      color: antiquewhite;
      padding-right: 40px;
      text-align: right;
      letter-spacing: 3px;
    }


    /*WHERE*/
    .where {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: 'Merienda', sarif;
      margin-top: 30px;
    }

    .where iframe {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto; 
      margin-bottom: 30px;
      width: 80%;
    }

    /*CONTACT*/
    .contact-section {
      width: 100%;
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
      padding: 3rem 1rem;
    }
    
    .contact-intro > * + * {
      margin-top: 1rem;
    }
    
    .contact-title {
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 700;
    }
    
    .contact-description {
      color: rgb(107 114 128);
    }
    
    .form-group-container {
      display: grid;
      gap: 1rem;
      margin-top: 2rem;
    }
    
    .form-group {
      display: flex;
      flex-direction: column;
    }
    
    .form-label {
      margin-bottom: 0.5rem;
    }
    
    .form-input,
    .form-textarea {
      padding: 0.5rem;
      border: 1px solid #e5e7eb;
      display: flex;
      height: 2.5rem;
      width: 100%;
      border-radius: 0.375rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    
    .form-input::placeholder,
    .form-textarea:focus-visible {
      color: #6b7280;
    }
    
    .form-input:focus-visible,
    .form-textarea:focus-visible {
      outline: 2px solid rgba(0, 0, 0, 0.8);
      outline-offset: 2px;
    }
    
    .form-textarea {
      min-height: 120px;
    }
    
    .form-submit {
      width: 100%;
      margin-top: 1.2rem;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 13px 5px;
      border-radius: 0.375rem;
    }
    

    /*FOOTER*/
    .footer {
      height: auto; /* Allow the height to adjust to content */
      text-align: center;
      width: 100%;
      margin: 0; /* Remove extra spacing */
      padding: 20px; /* Add consistent padding inside the footer */
      position: relative; /* Use absolute positioning if needed */
      box-sizing: border-box;
      background:linear-gradient(to right, #333333, #1a1a1a); /* Example: Ensure a background color is set */
    }
    
    .footer .container-fluid {
      padding: 0;
    }

    @media only screen and (max-width: 1023px) {
      .slider-wrapper .slide-button {
        display: none !important;
      }
      .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
      }
      .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
        margin-left: 2px;
      }
      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }
    }
@media screen and (max-width: 360px){
    .nav-heading {
        height: 150px;
    }
    .navbar-button {
        padding-top: 25px;
        padding-left: 5px;
    }
}

@media screen and(max-width: 992px){
 .nav-heading {
  padding-top: 20px !important;
 }
}

@media screen and (min-width: 992px){
    .hero {
        min-height: 700px;
        width: 100%;
        background-image: 
    linear-gradient(to bottom, rgba(210, 180, 140, 0.7), rgba(164, 141, 116, 0.7)), 
    url('/assets/images/restaurant-hero.jpg');
    background-blend-mode:soft-light;
        background-size: cover; 
        padding-top: 30px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
      }
}