@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
  position: relative; /* Reset stacking context for the whole page */
    overflow: visible;
}
body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    background-color: #eae4d3;

}
.nav-heading {
    height: 100px;
    background: linear-gradient(135deg, #d2b48c, #a48d74);
    font-family: 'Merienda', sarif;
    width: 100% !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
    position: fixed;
    overflow: visible;
    z-index: 3;
}


.navbar-custom {
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    padding-right: 8%;
}

.navbar-custom p {
    font-size: 30px;
}

.navbar-toggler {
    background-color: transparent;
    background-image: 
        linear-gradient(black, black), 
        linear-gradient(black, black), 
        linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 25px 3px, 25px 3px, 25px 3px;
    background-position: 0 6px, 0 13px, 0 20px;
}



.navbar-button {
  padding-top: 40px;
    padding-left: 20px;
    position: relative;
}

#navToggle {
  position: relative; /* Fixed positioning ensures it's above all other elements */
  left: 20px; /* Adjust to align with your design */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


.side-nav {
  z-index: 999;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: width 0.6s ease; /* Smooth width transition */
  padding-top: 60px;
  pointer-events: none; 
  color: white;
}

.side-nav.active {
  width: 250px;
  pointer-events: auto;
}

  .side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.6s;
  }
  
  .side-nav a:hover {
    background-color: #575757;
    color: #fff;
  }
  
  /* Active State for Side Nav */
  

  .nav-list {
    margin-top: 150px;
  }

.close-button {
  justify-content: center;
}

.closeToggle{
  background-color: transparent;
    background-image: 
        linear-gradient(white, white), 
        linear-gradient(white, white), 
        linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 25px 3px, 25px 3px, 25px 3px;
    background-position: 0 6px, 0 13px, 0 20px;
    border: 0 !important;
}

  .hero {
    height: 550px;
    width: 100%;
    background-image: 
    linear-gradient(to bottom, rgba(210, 180, 140, 0.7), rgba(164, 141, 116, 0.7)), 
    url('/assets/images/restaurant-hero.jpg');
    background-blend-mode:soft-light;
    background-size: cover; 
    padding-top: 30px;
    background-repeat: no-repeat;
    position: relative;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
  }

  .intro h1 {
    font-size: 50px;
  }

  .intro p {
    font-family: 'Merienda', sarif;
    font-size: 25px;
  }


  /*IMAGE SECTION*/
  .container {
    max-width: 1200px;
    width: 95%;
    margin-top: 80px;
  }
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper .image-list .image-item {
    width: 400px;
    height: 520px;
    object-fit: cover;
  }
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px; }

    @media only screen and (max-width: 1023px) {
      .slider-wrapper .slide-button {
        display: none !important;
      }
      .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
      }
      .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
      }
      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }
    }

@media screen and (max-width: 354px){
    .nav-heading {
        height: 120px;
    }
    .navbar-button {
        padding-top: 40px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 992px){
    .hero {
        height: 600px;
        width: 100%;
        background-image: 
    linear-gradient(to bottom, rgba(210, 180, 140, 0.7), rgba(164, 141, 116, 0.7)), 
    url('/assets/images/restaurant-hero.jpg');
    background-blend-mode:soft-light;
        background-size: cover; 
        padding-top: 30px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
      }
}